
.Tienda{
    background-color:bisque;
    display:flex;
    height: auto;
    width: auto;
    border-style:double; color:palevioletred;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace
}

.boton{

    background-color: bisque ;
    display: flex ;
    border-style: double; color:palevioletred

}

img{
    border-style:groove;
    border-color:black;
    width: 55px;
    display:flex;
}
.table, th,td {
    border: 1px solid rgb(255, 0, 0);
    border-collapse: collapse;
    padding: 10px;
    margin-left: 50px;
    margin-top: 50px;
}
.producto{
    border: 1px solid;
    height: 28vh;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
