
.Tienda{
    background-color:bisque;
    display:flex;
    height: auto;
    width: auto;
    border-style:double; color:palevioletred;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace
}


.ropa{
    border-style:groove;
    border-color:rgb(255, 255, 255);
    width: 45%;
    margin-top: 10%;
    display:flex;
}
.table, th,td {
    border: 1px solid rgb(255, 0, 0);
    border-collapse: collapse;
    padding: 10px;
    margin-left: 50px;
    margin-top: 50px;
}
.Producto{
    height: 30vh;
    width: 32%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 10px;
}
.agg_carrito{
    width: 60%;
}
